@font-face {
    font-family: 'Arial Italic';
    src: url('../../assets/fonts/Arial/arial_bolditalicmt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arial Regular';
    src: url('../../assets/fonts/Arial/arialmt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia Regular';
    src: url('../../assets/fonts/Georgia/georgia.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia Italic';
    src: url('../../assets/fonts/Georgia/georgia_bolditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

* {
    margin: auto;
  }
  
  body {
    background: white;
    margin: 0px;
    padding: 0px;
  }
  
  a {
    text-decoration: none;
  }
  
  #our_pets {
    position: absolute;
    width: 1280px;
    height: 1812px;
  }
  
  #our_pets .header_container {
    position: sticky;
    height: 120px;
    left: 0;
    right: 0;
    top: 0px;
    background: #FFFFFF;
    z-index: 100;
  }
  
  #our_pets .header_container .pets_header {
    position: absolute;
    left: 3.91%;
    right: 3.91%;
    top: 25%;
    bottom: 25%;
  }
  
  #our_pets .header_container .pets_header .logo {
    position: absolute;
    width: 188px;
    height: 60px;
    left: 0px;
    top: 0px;
    text-decoration: none;
    row-gap: 10px;
  }
  
  #our_pets .header_container .pets_header .logo .logo_title {
    font-style: normal;
    font-weight: 400;
    position: absolute;
    display: flex;
    left: 0px;
    top: calc(50% - 35px/2 - 12.5px);
    font-family: 'Georgia';
    font-size: 32px;
    line-height: 110%;
    align-items: center;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
  }
  
  #our_pets .header_container .pets_header .logo .logo_subtitle {
    font-style: normal;
    font-weight: 400;
    position: absolute;
    display: flex;
    left: 4px;
    top: calc(50% - 15px/2 + 22.5px);
    font-family: 'Arial';
    font-size: 13px;
    line-height: 15px;
    align-items: center;
    letter-spacing: 0.1em;
    color: #292929;
    text-decoration: none;
  }
  
  #our_pets .header_container .pets_header .nav_menu {
    position: absolute;
    width: 443px;
    height: 27px;
    right: 0;
    top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
  }
  
  #our_pets .header_container .pets_header .nav_menu .nav_logo {
    display: none;
  }
  
  #our_pets .header_container .pets_header .nav_menu .our_pets {
    text-decoration: underline #F1CDB3;
    text-decoration-thickness: 2px;
  }
  
  #our_pets .header_container .pets_header .nav_menu > .top_nav {
    display: flex;
   flex-wrap: wrap;
    gap: 35px;
  }
  
  #our_pets .header_container .pets_header .nav_menu > div > a {
    text-decoration: none;
    font-family: 'Arial';
    font-size: 15px;
    line-height: 160%;
    color: #545454;
  }
  
  #our_pets .header_container .pets_header .nav_menu > div > a:hover {
    text-decoration: underline #F1CDB3;
    text-decoration-thickness: 2px;
  }
  
  #our_pets .header_container .pets_header .burger {
    display: none;
  }
  
  #our_pets .pets_page {
    position: absolute;
    height: 1342px;
    left: 0%;
    right: 0%;
    top: 120px;
    background: #F6F6F6;
    background-size: 100% 100%;
  }
  
  #our_pets .pets_page .pets_content {
    position: absolute;
    width: 1200px;
    height: 1162px;
    left: calc(50% - 1200px/2);
    top: 80px;
  }
  
  #our_pets .pets_page .pets_content .pets_heading {
    position: absolute;
    font-style: normal;
    font-weight: 200;
    width: 400px;
    height: 90px;
    left: calc(50% - 400px/2);
    top: 8px;
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
  }
  
  #our_pets .pets_page .pets_content .cards_container {
    position: absolute;
    width: 1200px;
    height: 930px;
    left: 0px;
    top: 135px;
  }
  
  #our_pets .pets_page .pets_content .cards_container .container {
    display: grid;
    row-gap: 30px;
    column-gap: 40px;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, 435px);
  }
  
  #our_pets .pets_page .pets_content .cards_container .container .card {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 435px;
    background-color: #FAFAFA;
    border-radius: 9px;
  }
  
  #our_pets .pets_page .pets_content .cards_container .container .card .pet_image {
    top: 0;
    margin: 0px 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9px;
  }
  
  #our_pets .pets_page .pets_content .cards_container .container .card .pet_name {
    font-family: 'Georgia';
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
  }
  
  #our_pets .pets_page .pets_content .cards_container .container .card .button_more {
    align-items: center;
    padding: 2px 45px;
    width: 199px;
    height: 52px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    background-color: #FAFAFA;
  }
  
  #our_pets .pets_page .pets_content .cards_container .container .card .button_more .btn_text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
  }
  
  #our_pets .pets_page .pets_content .cards_container .container .card:hover {
    cursor: pointer;
    background-color: #FFFFFF;
  }
  
  #our_pets .pets_page .pets_content .cards_container .container .card:hover .button_more {
    cursor: pointer;
    background-color: #FDDCC4;
  }
  
  #our_pets .pets_page .pets_content .nav_pets {
    position: absolute;
    width: 340px;
    height: 52px;
    left: 430px;
    top: 1110px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(5, 52px);
  }
  
  #our_pets .pets_page .pets_content .nav_pets .nav_btn {
    width: 52px;
    height: 52px;
    text-decoration: none;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    align-items: center;
    text-align: center;
  }
  
  #our_pets .pets_page .pets_content .nav_pets .nav_btn .text {
    margin: 10px 0px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
  }
  
  #our_pets .pets_page .pets_content .nav_pets .nav_btn:hover {
    cursor: pointer;
  }
  
  #our_pets .pets_page .pets_content .nav_pets .nav_btn:disabled {
    border: 2px solid #CDCDCD;
    cursor: default;
  }
  
  #our_pets .pets_page .pets_content .nav_pets .nav_btn:disabled .text {
    color: #CDCDCD;
  }
  
  #our_pets .pets_page .pets_content .nav_pets .nav_btn_center {
    width: 52px;
    height: 52px;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 100px;
    border: none;
    align-items: center;
    text-align: center;
    background: #F1CDB3;
  }
  
  #our_pets .pets_page .pets_content .nav_pets .nav_btn_center .text_center {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
  }
  
  #our_pets .pets_page .pets_content .nav_pets .nav_btn_center:hover {
    cursor: pointer;
  }
  
  #our_pets .footer {
    position: absolute;
    height: 350px;
    left: 0%;
    right: 0%;
    top: 1462px;
    background: linear-gradient( to right, rgba(91, 72, 58, 1) 15%, rgba(38, 36, 37, 1) 50%, rgba(33, 31, 32, 1) 100%);
    background-size: 100% 100%;
  }
  
  #our_pets .footer .footer_content {
    position: absolute;
    width: 1200px;
    height: 310px;
    left: 40px;
    top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }
  
  #our_pets .footer .footer_content .footer_contacts {
    position: static;
    width: 281px;
    height: 234px;
    left: 0px;
    top: 16px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0;
  }
  
  #our_pets .footer .footer_content .footer_contacts .contacts_title {
    height: 90px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin: 0;
  }
  
  #our_pets .footer .footer_content .footer_contacts .email_info {
    top: 0px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  #our_pets .footer .footer_content .footer_contacts .phone_info {
    height: 32px;
    top: 0px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  #our_pets .footer .footer_content .footer_contacts > a {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
  }
  
  #our_pets .footer .footer_content .locations {
    position: static;
    width: 310px;
    height: 234px;
    top: 16px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 33px;
    margin: 0;
  }
  
  #our_pets .footer .footer_content .locations .locations_heading {
    font-style: normal;
    font-weight: 400;
    position: static;
    height: 90px;
    font-family: 'Georgia';
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }
  
  #our_pets .footer .footer_content .locations .locations_heading .location_boston {
    height: 55px;
  }
  
  #our_pets .footer .footer_content .locations > a {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-align: center;
    text-decoration: none;
  }
  
  #our_pets .footer .footer_content .locations > a > img {
    width: 22px;
    height: 32px;
    margin: 0;
  }
  
  #our_pets .footer .footer_content .footer_puppy {
    position: static;
    width: 300px;
    height: 310px;
    bottom: 0px;
    right: 0;
    margin: 0;
  }
  
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    #our_pets {
      width: 100%;
      height: 2492px;
    }
    #our_pets .header_container {
      width: 100%;
    }
    #our_pets .pets_page {
      height: 1733px;
    }
    #our_pets .pets_page .pets_content {
      top: 60px;
      left: calc(50% - 708px/2);
      width: 708px;
      height: 1603px;
    }
    #our_pets .pets_page .pets_content .pets_heading {
      top: 20px;
    }
    #our_pets .pets_page .pets_content .cards_container {
      top: 140px;
      width: 100%;
      height: 1365px;
    }
    #our_pets .pets_page .pets_content .cards_container .container {
      row-gap: 30px;
    column-gap: 5%;
    grid-template-columns: repeat(2, 270px);
    grid-template-rows: repeat(3, 435px);
    justify-content: center;
    }
    #our_pets .pets_page .pets_content .cards_container .container > div:nth-last-child(-n+2) {
      display: none;
    }
    #our_pets .pets_page .pets_content .nav_pets {
      top: 1535px;
      left: calc(50% - 340px/2);
    }
    #our_pets .footer {
      height: 639px;
      top: 1853px;
    }
    #our_pets .footer .footer_content {
      top: 30px;
      left: calc(50% - 708px/2);
      width: 708px;
      height: 234px;
      row-gap: 65px;
    justify-content: space-around;
    }
    #our_pets .footer .footer_content .footer_puppy {
      position: absolute;
      top: 299px;
      left: calc(50% - 300px/2);
    }
  }
  
  @media screen and (max-width: 767px) {
    .scroll_lock {
      overflow: hidden;
    }
    #our_pets {
      width: 100%;
      height: 2578px;
    }
    #our_pets .header_container {
      width: 100%;
    }
    #our_pets .header_container .pets_header {
      left: 3.12%;
      right: 51px;
      display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    #our_pets .header_container .pets_header .logo {
      position: static;
      margin: 0;
    }
    #our_pets .header_container .pets_header .nav_menu {
      display: none;
    }
    #our_pets .header_container .pets_header .nav_menu.active {
      display: block;
      background-color: #292929;
      width: 320px;
      height: 100%;
      position: fixed;
      top: 0;
    }
    #our_pets .header_container .pets_header .nav_menu.active .nav_logo {
      display: block;
      position: absolute;
      margin: 0;
      top: 30px;
      left: 10px;
      width: 184px;
      height: 60px;
    }
    #our_pets .header_container .pets_header .nav_menu.active .nav_logo .nav_title {
      width: 186px;
      height: 35px;
      left: 0px;
      top: calc(50% - 35px/2 - 12.5px);
      font-family: 'Georgia';
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 110%;
      display: flex;
    align-items: center;
      letter-spacing: 0.06em;
      color: #CDCDCD;
    }
    #our_pets .header_container .pets_header .nav_menu.active .nav_logo .nav_subtitle {
      position: absolute;
      width: 182px;
      height: 15px;
      left: 4px;
      top: calc(50% - 15px/2 + 22.5px);
      font-family: 'Arial';
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      display: flex;
    align-items: center;
      letter-spacing: 0.1em;
      color: #CDCDCD;
    }
    #our_pets .header_container .pets_header .nav_menu.active .top_nav {
      position: absolute;
      width: 243px;
      height: 327px;
      left: calc(50% - 243px/2);
      top: 248px;
      display: flex;
    flex-wrap: wrap;
      row-gap: 40px;
    align-items: center;
    }
    #our_pets .header_container .pets_header .nav_menu.active .top_nav > a {
      padding: 0;
      font-size: 32px;
      width: 243px;
      height: 51px;
      color: #CDCDCD;
      text-align: center;
    }
    #our_pets .header_container .pets_header .burger {
      position: absolute;
      display: block;
      right: 0;
      width: 30px;
      height: 30px;
      margin: 0px;
    }
    #our_pets .header_container .pets_header .burger .burger_menu {
      position: relative;
      top: 15px;
      display: flex;
    flex-wrap: wrap;
      gap: 10px;
      margin: 0;
      border: none;
      padding: 0;
      background: none;
    }
    #our_pets .header_container .pets_header .burger .burger_menu > span {
      border: 2px solid #F1CDB3;
      width: 28px;
    }
    #our_pets .header_container .pets_header .burger .burger_menu.active {
    transform: rotate(90deg);
    }
    #our_pets .header_container .pets_header .burger .burger_menu:hover {
      cursor: pointer;
    }
    #our_pets .pets_page {
      height: 1649px;
    }
    #our_pets .pets_page .pets_content {
      top: 42px;
      width: 300px;
      height: 1565px;
      left: calc(50% - 150px);
    }
    #our_pets .pets_page .pets_content .pets_heading {
      position: absolute;
      left: 0;
      top: 0px;
      width: 300px;
      height: 64px;
      font-size: 25px;
    }
    #our_pets .pets_page .pets_content .cards_container {
      width: 270px;
      height: 1365px;
      left: calc(50% - 270px/2);
      top: 106px;
    }
    #our_pets .pets_page .pets_content .cards_container .container {
      row-gap: 30px;
    grid-template-columns: repeat(1, 270px);
    grid-template-rows: repeat(3, 435px);
    }
    #our_pets .pets_page .pets_content .cards_container .container > div:nth-last-child(-n+5) {
      display: none;
    }
    #our_pets .pets_page .pets_content .nav_pets {
      top: 1513px;
      left: 0;
      width: 300px;
    column-gap: 10px;
    }
    #our_pets .footer {
      height: 809px;
      top: 1769px;
    }
    #our_pets .footer .footer_content {
      top: 30px;
      left: calc(50% - 300px/2);
      width: 300px;
      height: 470px;
      row-gap: 40px;
    justify-content: space-around;
    }
    #our_pets .footer .footer_content .footer_contacts {
      width: 278px;
      height: 208px;
    justify-content: center;
      row-gap: 30px;
    }
    #our_pets .footer .footer_content .footer_contacts .contacts_title {
      text-align: center;
      font-size: 25px;
      height: 64px;
    }
    #our_pets .footer .footer_content .locations {
      width: 300px;
      height: 222px;
      row-gap: 30px;
    }
    #our_pets .footer .footer_content .locations .locations_heading {
      text-align: center;
      font-size: 25px;
      width: 270px;
      height: 64px;
    }
    #our_pets .footer .footer_content .footer_puppy {
      position: static;
      width: 260px;
      height: 269px;
    }
  }