@font-face {
    font-family: 'Arial Italic';
    src: url('../../assets/fonts/Arial/arial_bolditalicmt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arial Regular';
    src: url('../../assets/fonts/Arial/arialmt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia Regular';
    src: url('../../assets/fonts/Georgia/georgia.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia Italic';
    src: url('../../assets/fonts/Georgia/georgia_bolditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

header {
    height: 120px;
    position: fixed;
    background-color: #ffffff;
    z-index: 2;
}
.header-container {
    padding: 0 40px;
}

.header-title {
    color: #545454;
}
.header-subtitle {
    color: #292929;
}

.nav-item:hover > .nav-link {
    color: #292929;
}
.nav-item-active > .nav-link {
    color: #545454;
}
.nav-link {
    color: #545454;
}
main {
    padding-top: 120px;
}

.our-pets {
    background: #F6F6F6;
}
.our-pets-content {
    padding: 80px 40px 100px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-pets-description {
    width: 400px;
}
.our-pets-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    text-align: center;
    color: #545454;
    margin-bottom: 45px;
}
.our-pets-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 40px;
    padding: 15px 0;
}
.pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    transition: .2s;
    border-radius: 9px;
    overflow: hidden;
    animation: visibility;
    animation-duration: 1s;
    z-index: 1;
}
.pet-card-image {
    display: flex;
}
.pet-card-text {
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #545454;
}
.pet-card-more {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #292929;
    padding: 15px 43px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: #FFFFFF;
    transition: .2s;
}
.pet-card:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet-card:hover > .pet-card-more {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
}

.our-pets-loop {
    display: flex;
    gap: 20px;
    margin-top: 45px;
}
.searchBtn {
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    background: transparent;
    border-radius: 100px;
    color: #292929;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    transition: .2s;

    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBtn-disable {
    pointer-events: none;
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}
.searchBtn-active {
    background-color: #F1CDB3;
    pointer-events: none;
}

.searchBtn:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

@media  (max-width: 1279px) {
    .header-container {
        padding: 0 30px;
    }
    .header-subtitle {
        letter-spacing: 0.14em;
    }
    .our-pets-title {
        margin-bottom: 30px;
    }
    .our-pets-cards {
        padding: 0;
    }
    .pet-card:nth-child(7), .pet-card:nth-child(8) {
        display: none;
    }
    .our-pets-loop {
        margin-top: 40px;
    }
    .our-pets-content {
        padding: 80px 40px 75px 40px;
    }
    .footer-content {
        padding: 31px 30px 0;
    }
}

@media  (max-width: 767px) {
    .header-container {
        padding: 0 10px;
    }

    nav {
        background-color: #F6F6F6;
    }

    .nav-link {
        color: #9b9999;
    }
    .nav-item-active > .nav-link {
        color: #d4afaf;
    }
    .nav-item:hover > .nav-link {
        color: #f0b2b2;
    }
    .burger span {
        background-color: #000000;
    }
    .open-burger span {
        background-color: #d8ae8f;
    }
    .header-nav-logo-link .header-title {
        color: #F1CDB3;
    }
    .header-nav-logo-link .header-subtitle {
        color: #e7a5a5;
    }
    .gradient {
        background-color: #ffffff;
    }

    .our-pets-content {
        padding: 42px 10px;
    }
    .our-pets-description {
        width: 100%;
    }
    .our-pets-title {
        letter-spacing: 0.06em;
        font-size: 25px;
        line-height: 32px;
        margin-bottom: 42px;
    }
    .pet-card:nth-child(4), .pet-card:nth-child(5), .pet-card:nth-child(6) {
        display: none;
    }
    .our-pets-loop {
        margin-top: 42px;
        gap: 10px;
    }
    .footer-content {
        padding: 30px 10px 0;
    }
}