@font-face {
    font-family: 'Arial Italic';
    src: url('../../assets/fonts/Arial/arial_bolditalicmt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Arial Regular';
    src: url('../../assets/fonts/Arial/arialmt.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia Regular';
    src: url('../../assets/fonts/Georgia/georgia.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia Italic';
    src: url('../../assets/fonts/Georgia/georgia_bolditalic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@keyframes visibility {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes onLeft {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-1000px);
    }
}
@keyframes onRight {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(1000px);
    }
}
@keyframes visLeft {
    0% {
        transform: translateX(-1000px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes visRight {
    0% {
        transform: translateX(1000px);
    }
    100% {
        transform: translateX(0px);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}

header {
    position: absolute;
    width: 100%;
}
.header-container {
    margin-top: 60px;
    padding: 60px 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: #F1CDB3;
    letter-spacing: 2px;
}
.header-subtitle {
    margin-top: 10px;
    margin-left: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    letter-spacing: 2px;
}

.nav-list {
    display: flex;
    gap: 35px;
    list-style: none;
}
.nav-item {
    position: relative;
}
.nav-link {
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #CDCDCD;
    text-decoration: none;
    transition: .3s;
}
.nav-item:hover > .nav-link {
    color: #FAFAFA;
}
.nav-item-active:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #F1CDB3;
}
.header-nav-logo-link {
    display: none;
}
.burger {
    display: none;
}
.gradient {
    display: none;
}

.section {
    width: 100%;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}
.hero {
    background: linear-gradient(270deg, #242223, #473A30);
}

.house-content {
    padding: 180px 40px 0 40px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}
.house-description {
    margin-top: 163px;
    width: 460px;
}
.only-title {
    font-size: 44px;
    line-height: 57.2px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: Georgia;
}
.only-text {
    margin-top: 41px;
    color: #CDCDCD;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;

}
.hero-button {
    display: inline-block;
    color: #292929;
    text-decoration: none;
    cursor: pointer;
    margin-top: 42px;
    padding: 15px 45px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    line-height: 22px;
    border-radius: 100px;
    border: 0;
    background-color: #F1CDB3;
    transition: .3s;
    letter-spacing: 1px;
}
.hero-button:hover {
    background-color: #FDDCC4;
}
.only-image {
    display: flex;
    margin-top: auto;
    margin-left: auto;
}

.about-content {
    padding: 80px 40px 100px;
    display: flex;
    justify-content: center;
}
.about-image {
    margin-right: 120px;
}
.about-description {
    width: 430px;
    margin-top: 16px;
}
.about-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    color: #545454;
    line-height: 45px;
    letter-spacing: 2px;
}
.about-text{
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #4C4C4C;
    line-height: 24px;
}

.pets {
    background-color: #F6F6F6;
}
.pets-content {
    padding: 77px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}

.pets-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    width: 400px;
    text-align: center;
    line-height: 45px;
    letter-spacing: 2px;
    color: #545454;
}
.pets-sliders {
    /* margin-top: 60px;
    margin-bottom: 60px; */
    margin: 60px 105px;
    position: relative;
    display: flex;
    align-items: center;
}
.sliders-container{
    display: flex;
    gap: 90px;
    overflow: hidden;
}
.back, .forward {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
.back {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: -105px;
    background: #FFFFFF;
    border: 2px solid #F1CDB3;
    cursor: pointer;
}
.forward {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: -105px;
    background: #FFFFFF;
    border: 2px solid #F1CDB3;
    cursor: pointer;
}
.back:hover, .forward:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.slider-item {
    width: 270px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
    transition: .2s;
    border-radius: 9px;
    overflow: hidden;
} 

.animvisLeft {
    animation: visLeft;
    animation-duration: 1s;
}
.animvisRight {
    animation: visRight;
    animation-duration: 1s;
}
.animonLeft {
    animation: onLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animonRight {
    animation: onRight;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.slider-image {
    display: flex;
}
.slider-text {
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #545454;
}
.slider-more {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #292929;
    padding: 15px 42px;
    border-radius: 100px;
    border: 2px solid #F1CDB3;
    background-color: #FFFFFF;
    transition: .2s;
}
.pets-link {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #292929;
    padding: 15px 44px;
    border-radius: 100px;
    background-color: #F1CDB3;
    border: 2px solid #F1CDB3;
    transition: .2s;
}
.pets-link:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.slider-item:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.slider-item:hover > .slider-more {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
    cursor: pointer;
}


.help-content {
    padding: 80px 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.help-description {
    width: 310px;
}
.help-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #545454;
    text-align: center;
}
.help-list {
    margin: 60px 87px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 55px 120px;
    justify-content: center;
}

.item-icon {
    /* margin-bottom: 30px; */
    width: 60px;
    height: 60px;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
}
.item-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    text-align: center;
    color: #545454;
}

.donation {
    background-color: #F6F6F6;
}
.donation-content {
    padding: 80px 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.donation-description {
    width: 380px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.donation-title {
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    width: 300px;
    margin-bottom: 20px;
}
.donation-subheading {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 1px;
    color: #545454;
    margin-bottom: 20px;
}
.donation-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}
.donation-card {
    background-color: #F1CDB3;
    padding: 8px 15px;
    border-radius: 9px;
    margin-bottom: 20px;
    border: 2px solid #F1CDB3;
    transition: .2s;
}
.donation-card:hover {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.credit-card {
    display: flex;
    align-items: center;
    gap: 15px;
}
.card-image {
    display: flex;
}
.card-text {
    color: #545454;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
}

.footer {
    background: linear-gradient(270deg, #242223, #473A30);
}
.footer-content {
    padding: 40px 40px 0;
    display: flex;
    justify-content: space-between;
}
.footer-contacts {
    width: 280px;
}
.footer-contacts, .footer-locations {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}
.footer-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.footer-links {
    display: flex;
    flex-direction: column;
}
.footer-contacts > .footer-links {
    gap: 45px;
}
.footer-locations > .footer-links {
    gap: 33px;
}
.footer-locations > .footer-title {
    margin-bottom: 33px;
}

.link {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
}

.link-info {
    color: #F1CDB3;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
}

.footer-locations {
    width: 300px;
}

.modal {
    cursor: no-drop;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #808080b0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.modal-container {
    cursor: auto;
    background-color: #FAFAFA;
    border-radius: 9px;
    display: flex;
    position: relative;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    animation: visibility;
    animation-duration: 1s;
}
.modal-image {
    display: flex;
    width: 500px;
    height: 500px;
    border-radius: 9px;
    overflow: hidden;
    flex-shrink: 0;
}
.modal-image img {
    width: 100%;
    height: 100%;
}
.modal-content {
    margin: 50px 20px auto 29px;
    font-family: Georgia, serif;
}
.modal-name {
    letter-spacing: 0.06em;
    font-size: 35px;
    line-height: 45px;
    font-weight: 400;
}
.modal-breed {
    font-size: 20px;
    line-height: 23px;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 0.06em;
}
.modal-description {
    width: 350px;
    margin-top: 40px;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
}
.characteristics-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style: none;
}
.characteristics-item {
    display: flex;
    gap: 5px;
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
}
.characteristics-item p {
    font-weight: 900;
    letter-spacing: 0.06em;
}
.characteristics-item:before {
    content: '·';
    font-size: 34px;
    color: #F1CDB3;
    line-height: 9px;
}
.modal-btn-close {
    position: absolute;
    right: -42px;
    top: -52px;
}
.modal-close {
    display: flex;
    background: transparent;
    border: 2px solid #F1CDB3;
    padding: 18px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.body-hidden {
    overflow: hidden;
}


.modal:hover .modal-close {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}
.modal-container:hover .modal-close {
    background: transparent;
    border: 2px solid #F1CDB3;
}
.modal-btn-close:hover .modal-close {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}


@media  (max-width: 1279px) {
    .header-container {
        padding: 30px 30px 0;
    }
    .nav-list {
        gap: 36px;
    }

    .house-content {
        padding: 90px 30px 0;
        flex-direction: column;
        align-items: center;
    }
    .house-description {
        margin-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .only-image {
        margin-top: 100px;
    }
    .only-image img{
        width: 569px;
    }

    .about-content {
        padding: 80px 165px 100px;
        flex-direction: column;
        align-items: center;
    }
    .about-description {
        order: -1;
        margin: 0;
    }
    .about-image {
        margin-right: 0px;
        margin-top: 80px;
    }

    .pets-content {
        padding: 77px 30px 100px;
    }
    

    .sliders-container {
        gap: 40px;
    }
    .slider-item:nth-child(3) {
        display: none;
    }
    .back {
        left: -62px;
    }
    .forward {
        right: -62px;
    }

    .help-content {
        padding: 80px 70px 100px;
    }
    .help-description {
        margin-bottom: 60px;
    }
    .help-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 55px 60px;
        margin: 0;
    }
    .item-title {
        font-size: 21px;
    }
    
    .donation-content {
        flex-direction: column;
        gap: 59px;
        padding: 80px 0 96px;
    }
    .donation-description {
        order: -1;
    }

    .footer-content {
        flex-wrap: wrap;
        gap: 65px 60px;
        justify-content: center;
        padding: 30px 30px 0;
    }
    .footer-contacts, .footer-locations {
        margin-top: 0;
    }
    .footer-title {
        margin-bottom: 42px;
    }
    .footer-contacts > .footer-links {
        gap: 43px;
    }

    .modal-container {
        width: 630px;
    }
    .modal-image {
        width: 350px;
        height: 350px;
    }
    .modal-content {
        margin: 10px 10px auto 10px;
        font-family: Georgia, serif;
    }
    .modal-description {
        width: 260px;
        margin-top: 20px;
        font-size: 13px;
        line-height: 14px;
    }
    .characteristics-list {
        margin-top: 20px;
        gap: 6px;
    }
    .characteristics-item {
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {

    .header-container {
        padding: 30px 10px 0;
    }
    .header-logo-link {
        z-index: 2;
    }
    .header-nav {
        position: fixed;
        width: 0;
        right: 0;
        top: 0px;
        display: block;
        background-color: #000000a6;
        overflow: hidden;
        transition: .3s;
    }
    .active-link {
        width: 100%;
    }
    nav {
        background: #292929;
        width: 320px;
        margin-left: auto;
        overflow: auto;
        height: 100vh;
    }
    .nav-list {
        flex-direction: column;
        padding: 248px 38px;
        gap: 42px;
        align-items: center;
    }
    .nav-item:nth-child(3), .nav-item:nth-child(4) {
        pointer-events: none;
    }
    .nav-link {
        font-size: 32px;
        line-height: 51px;
    }
    .nav-item-active:after {
        height: 3px;
        bottom: -3px;
    }
    
    .header-nav-logo-link {
        position: absolute;
        right: 110px;
        top: 31px;
        width: 200px;
        z-index: 2;
    }
    .active-link .header-nav-logo-link {
        display: block;
    }

    .burger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin-right: 43px;
        z-index: 2;
        transition: .3s;
    }
    .burger span {
        transition: .3s;
    }
    .burger span {
        display: block;
        width: 30px;
        height: 2px;
        background-color: #F1CDB3;
    }
    .open-burger{
        transform: rotateZ(90deg);
    }
    .gradient {
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 320px;
        height: 120px;
        background: #292929;
    }

    .house-content {
        padding: 90px 10px 0;
    }
    .house-description {
        width: 100%;
        text-align: center;
    }
    .only-title {
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 2px;
    }
    .only-image {
        margin-top: 105px;
        margin-left: 40px;
    }
    .only-image img {
        width: 100%;
    }

    .about-content {
        padding: 44px 10px 36px;
    }
    .about-title {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .about-description {
        width: 100%;
    }
    .about-text {
        margin: 24px 15px 0;
        text-align: justify;
    }
    .about-image {
        margin: 42px 20px 0;
    }
    .about-image img {
        width: 100%;
    }

    .pets-content {
        padding: 42px 10px;
    }
    .pets-title {
        width: 100%;
        font-size: 24px;
        line-height: 32px;
    }
    .pets-sliders {
        margin: 42px 15px 0;
    }
    .back {
        bottom: -70px;
        left: 43px;
    }
    .forward {
        bottom: -70px;
        right: 43px;
    }
    .slider-item:nth-child(2){
        display: none;
    }
    .pets-link {
        margin-top: 114px;
    }

    .help-content {
        padding: 43px 15px 41px;
    }
    .help-description {
        margin-bottom: 42px;
    }
    .help-title {
        font-size: 24px;
        line-height: 32px;
    }
    .help-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .item-icon {
        height: 50px;
        width: 50px;
        margin: 0 auto 20px;
    }
    .item-icon img {
        width: 100%;
        height: 100%;
    }
    .item-title {
        font-size: 15px;
        line-height: 17px;
    }

    .donation-content {
        padding: 42px 10px 39px;
        gap: 42px;
    }
    .donation-description {
        width: 100%;
        align-items: center;
    }
    .donation-title {
        font-size: 25px;
        line-height: 32px;
        padding: 0px 35px;
        text-align: center;
        margin-bottom: 24px;
    }
    .donation-subheading {
        letter-spacing: 0;
        margin-bottom: 23px;
    }
    .card-text {
        font-size: 15px;
        line-height: 17px;
    }
    .donation-card {
        padding: 8px 12px;
    }
    .donation-text {
        margin: 0 10px;
        text-align: justify;
    }
    .donation-image {
        margin: 0 20px;
    }
    .donation-image img{
        width: 100%;
    }

    .footer-content {
        padding: 30px 10px 0;
        gap: 41px 60px;
    }
    .footer-contacts {
        margin-top: 0;
    }
    .footer-title {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 0.06em;
    }
    .link {
        justify-content: center;
    }
    .footer-locations .footer-title {
        margin: 0 15px 40px;
    }
    .footer-locations .footer-links {
        gap: 39px;
    }
    .footer-locations .link {
        justify-content: flex-start;
    }
    .footer-locations .link-info {
        letter-spacing: 0.06em;
    }
    .footer-image {
        margin: 0 20px;
    }
    .footer-image img{
        width: 100%;
    }

    .modal-container {
        width: 240px;
    }
    .modal-image {
        display: none;
    }
    .modal-content {
        margin: 10px;
    }
    .modal-name {
        text-align: center;
    }
    .modal-breed {
        text-align: center;
    }
    .modal-description {
        text-align: justify;
        width: 220px;
    }
    .characteristics-list {
        margin-top: 24px;
    }
    .characteristics-item {
        flex-wrap: wrap;
    }
    .modal-btn-close {
        right: -30px;
    }
}

